.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('../images/Grohe23-KV.jpg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.login-form {
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.8);
}
